[buildout]

extends = buildout.cfg

[settings]
hostname = localhost
http-port = 8091
log-level = INFO
# esgf archive root path, separated by ":" like PATH
archive-root =

## deployment options
#prefix =  /opt/birdhouse
#user = www-data
#etc-user = root

[pywps]
maxoperations = 100
