[buildout]

extends = versions.cfg

develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = downloads

# conda
# offline: make sure all deps are in environment.yml
conda-offline = true
conda-channels = birdhouse conda-forge defaults
channel-priority = true

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/
extensions = buildout.locallib

parts =
    malleefowl
    pywps

[settings]
prefix = ${environment:HOME}/birdhouse
user =
etc-user =
hostname = localhost
output-port = 8090
http-port = 8091
https-port = 28091
archive-root =
log-level = WARN
project = Malleefowl
version = 0.4.2

[environment]
recipe = collective.recipe.environment

[malleefowl]
recipe = zc.recipe.egg
eggs =
     malleefowl
     pywps
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
# name of our wps
name = malleefowl
# conda
channels = ${buildout:conda-channels}
# deployment options
prefix = ${settings:prefix}
user = ${settings:user}
etc-user = ${settings:etc-user}
# service options
hostname = ${settings:hostname}
enable-https = false
http-port = ${settings:http-port}
https-port = ${settings:https-port}
http-output-port = ${settings:output-port}
loglevel = ${settings:log-level}
workers = 3
worker-class = sync
# wps options
title = ${settings:project}
abstract = Malleefowl processes to access climate data from ESGF and Thredds data services.
keywords = WPS, PyWPS, Birdhouse, Malleefowl, Python, ESGF, Workflow, thredds
provider-name = ${settings:project}
provider-url = http://malleefowl.readthedocs.org/en/latest/
processes-import = malleefowl.processes
processes-path = ${buildout:directory}/malleefowl/processes
parallelprocesses = 10
maxprocesses = 30
maxsingleinputsize=1024mb
logformat =  %(asctime)s] [%(levelname)s] line=%(lineno)s module=%(module)s %(message)s
database = sqlite
# malleefowl options
# esgf archive root: list of file archive root folders separated by ":" like PATH
# overwrites environment ESGF_ARCHIVE_ROOT
extra-options =
    archive_root=${settings:archive-root}

[ipython]
recipe = zc.recipe.egg
eggs =
    ipython
    ${malleefowl:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython


[pytest]
recipe = zc.recipe.egg
eggs =
    pytest
    ${malleefowl:eggs}

[sphinx]
recipe = birdhousebuilder.recipe.sphinx
project = ${settings:project}
version = ${settings:version}
src = malleefowl

[docker]
recipe = birdhousebuilder.recipe.docker
app = malleefowl
maintainer = https://github.com/bird-house/malleefowl
version = ${settings:version}
#hostname = localhost
#supervisor-port = 9001
#http-port = 8080
#https-port = 8443
#output-port = 8000
