[buildout]

parts += 
    malleefowl_conda
    malleefowl
    malleefowl_wps
    nose
    docker

[malleefowl_conda]
recipe = birdhousebuilder.recipe.conda
pkgs = 
     python
     setuptools
     pywps
     owslib
     dateutil
     lxml
     netcdf4
     pyyaml
     yaml
     pyopenssl
     concurrentloghandler
     nose
     esgf-pyclient
     dispel4py
     
[malleefowl]
recipe = zc.recipe.egg
eggs =
     malleefowl
interpreter = python

[malleefowl_wps]
recipe = birdhousebuilder.recipe.pywps
sites = malleefowl
hostname = ${settings:hostname}
port = ${settings:http-port}
output_port = ${settings:output-port}
proxyEnabled = ${settings:proxy-enabled}
phoenix = ${settings:phoenix}

# pywps options
processesPath = ${buildout:directory}/malleefowl/processes
title = Malleefowl
abstract = Malleefowl Processes (esgf, workflow, publish, security, ...)
logLevel = ${settings:log-level}

# malleefowl options
thredds_url = http://${settings:hostname}:${settings:tomcat-port}/thredds
# default 1 day, in secs, 0 means for ever
timeout = 86400
# mako cache
mako_cache = ${buildout:anaconda-home}/var/cache/mako
# archive_root: comma seperated list of file archive root folders
archive_root = ${settings:archive-root}

[nose]
recipe = zc.recipe.egg
eggs =
    nose
    ${malleefowl:eggs}
entry-points =
    nosetests=nose:run_exit
scripts =
    nosetests=nosetests

[docker]
recipe = birdhousebuilder.recipe.docker
image-name = ubuntu
image-version = 14.04
maintainer = Malleefowl WPS Application





 


