[buildout]

parts += 
   malleefowl
   malleefowl_config
   malleefowl_gunicorn
   malleefowl_supervisor
   malleefowl_nginx
   malleefowl_outputs
   malleefowl_ipython
   malleefowl_nose

[pywps]
home = ${buildout:anaconda-home}/var/lib/pywps
socket = ${buildout:anaconda-home}/var/run/pywps.socket
log_file = ${buildout:anaconda-home}/var/log/pywps/pywps.log

[malleefowl]
recipe = z3c.recipe.scripts
eggs =
     Malleefowl
     pywps
     htmltmpl
     ordereddict
     lxml
     python-magic
     OWSLib
     ConcurrentLogHandler
     netCDF4
     PyYAML
     cdo
     c3meta
     basemap
     pymongo
#     PyRods
     icclim
     ocgis
     bokeh
interpreter = python

[malleefowl_config]  
recipe = collective.recipe.template
input = ${buildout:directory}/templates/pywps.cfg
output = ${buildout:anaconda-home}/etc/pywps.cfg

processes_path = ${buildout:directory}/processes
output_path = ${pywps:home}/outputs
temp_path = ${pywps:home}/temp
cache_path = ${pywps:home}/cache
log_path = ${buildout:anaconda-home}/var/log/pywps
files_path = ${pywps:home}/files
files_url = http://${server:hostname}:${ports:http}/files
malleefowl_path = ${buildout:directory}
integration_tests = ${buildout:directory}/unit_tests

[malleefowl_gunicorn]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/gunicorn.conf.py
output = ${buildout:anaconda-home}/etc/gunicorn.conf.py

bind = unix://${pywps:socket}

[malleefowl_supervisor]
recipe = birdhousebuilder.recipe.supervisor

program = pywps
command = ${buildout:bin-directory}/python ${buildout:anaconda-home}/bin/gunicorn malleefowl.wsgiwps:application -c ${buildout:anaconda-home}/etc/gunicorn.conf.py


[malleefowl_nginx]
recipe = birdhousebuilder.recipe.nginx
input = ${buildout:directory}/templates/nginx-malleefowl.conf
sites = malleefowl

socket = ${pywps:socket}
http = ${ports:http}
output_path = ${malleefowl_config:output_path}
files_path = ${malleefowl_config:files_path}

[malleefowl_outputs]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    mkdir -p ${malleefowl_config:output_path}
    mkdir -p ${malleefowl_config:temp_path}
    sudo mkdir -p ${malleefowl_config:cache_path}
    sudo mkdir -p ${malleefowl_config:files_path}


[malleefowl_ipython]
recipe = z3c.recipe.scripts
eggs =
    ipython
    ${malleefowl:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython
initialization =
    import os
    os.environ['GDAL_DATA'] = '${env:gdal_data}'

[malleefowl_nose]
recipe = z3c.recipe.scripts
eggs =
    nose
    ${malleefowl:eggs}
entry-points =
    nosetests=nose:run_exit
scripts =
    nosetests=nosetests
initialization =
    import os
    os.environ['GDAL_DATA'] = '${env:gdal_data}'
    os.environ['PYWPS_CFG'] = '${malleefowl_config:output}'


